.container-game {
    margin: 0;
    display: flex;
    place-items: center;
    flex-direction: column;
    padding: 10px;
}

.card-player {
    display: flex;
    justify-content: center;
}

.button {
    width: 55%;
    background-color: black;
    padding: 10px;
    margin: 10px;
    font-size: larger;
    font-family: 'Finger Paint', cursive;
    border-radius: 10px;
    border-style: none;
    color: white;
}